<body style="background-color:Salmon;">


<h1>Login page </h1>



<p><%= flash[:error]%></p>

<%= form_for(:user) do |f|%>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>


  <%= f.submit "Log In" %>
<% end %>

<br><%=link_to "Login via Facebook", "/auth/facebook"%><br>
</body>