<body style="background-color:Salmon;">

<% if !params[:diet].blank? %>
  <% @recipes = Recipe.where(recipe: params[:recipe]) %>
<% end %>

<h1>All recipes made by our users:<h1>

<div>
  <h3>Filter dietary requirements:</h3>
  <%= form_tag("/recipes", method: "get") do %>
    <%= select_tag "diet", options_from_collection_for_select(@diets, "id", "category"), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>  



<% @recipes.each do |recipe| %>
<center><br><%= recipe.title%><br></center>
<center><br><%= recipe.ingredients%><br></center>
<center><br><%= recipe.cooking_instruction%><br></center>


  <% end %>


<%# <%= @recipe.each do |r|%>
<%# 
<h2><%= r.title%> </h2>

<%# <%= link_to "Write a review", new_review_path(r.id) %>

 <%# <%= r.ingredients%>
  
<%# <%= r.cooking_instruction%>
<%# <%end%> %> %> %> %>

- -  %> %>

I need to be able to make recipes and save them first for them to appear on here 

</body>