<body style="background-color:Salmon;">

<h1>All recipes made by our users:<h1>

<% @recipes.each do |recipe| %>
<center><br><%= recipe.title%><br></center>
<center><br><%= recipe.ingredients%><br></center>
<center><br><%= recipe.cooking_instruction%><br></center>


  <% end %>


<%# <%= @recipe.each do |r|%>
<%# 
<h2><%= r.title%> </h2>

<%# <%= link_to "Write a review", new_review_path(r.id) %>

 <%# <%= r.ingredients%>
  
<%# <%= r.cooking_instruction%>
<%# <%end%> %> %> %> %>

- -  %> %>

I need to be able to make recipes and save them first for them to appear on here 

</body>