<body style="background-color:Salmon;">


<p> Review title: <%=@review.title %></p>
<p> Review by : <%=@review.user_id %></p>
<p> Recipe : <%=@review.recipe_id%></p>
<p>Overview : <%=@review.overview%> </p>
<p>Rating : <%=@review.rating%></p>





User id is not showing up and 


</body>
