<!DOCTYPE html>
<html>
  <head>
    <title>RecipeReviewer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<div>
 <div><%= render_nav_bar %></div>



</div>

  <body style="background-color:Salmon;">

    <%= yield %>
  </body>
</html>
